@import "tailwindcss/preflight"
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html,
body,
#root {
  height: 100%;
  background-color: black;
  
  font-family:Poppins;
}
